<footer class="pie">
        <section class="pie-a">
            <div class="pie__logo-c">
                <img src="/img/logo_b.png" class="pie__logo">
            </div>

            <div class="pie-redes">
                <a class="pie__red-icono-a" href=""><i class="fab fa-facebook-f pie__red-icono"></i></a>
                <a class="pie__red-icono-a" href=""> <i class="fab fa-instagram pie__red-icono"></i></a>
                <a class="pie__red-icono-a" href=""><i class="fab fa-twitter pie__red-icono"></i></a>
            </div>
        </section>

        <hr class="pie-linea">

        <p class="pie-contacto">Contáctenos</p>
    </footer>