<footer class="pie">
        <section class="pie-a">
            <div>
                <img src="/img/logo_b.png" class="pie__logo">
            </div>

            <div class="pie-redes">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </section>

        <hr class="pie-linea">

        <p class="pie-contacto">Contáctenos</p>
    </footer>