<header class="ppal">
    <section class="menu">
        <img src="/img/logo.png" class="menu__logo">
        <nav class="menu__nav" id="nav" onclick="desplegar()">
            <div class="menu-categoria">

                <button class="dropbtn"> <i class="fas fa-ellipsis-h menu-categoria__icono"></i>
                    <a class="menu-categoria__texto">Categoría</a>
                </button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="/tienda/diseño">Diseño</a>
                    <a href="/tienda/arte">Arte</a>
                    <a href="/tienda/papeleria">Papelería</a>
                    <a href="/tienda/escritura">Escritura</a>
                    <a href="/tienda/arquitectura">Arquitectura</a>
                    <a href="/tienda">Ver todo</a>
                </div>
            </div>

        </nav>
    </section>
</header>