<header class="ppal">
    <div class="menu">
        <img src="/img/logo.png" class="menu__logo">

        <button class="dropbtn">
            <i class="fas fa-ellipsis-h menu-categoria__icono"></i>
            <a class="menu-categoria__texto">Categoría</a>
        </button>
    </div>

    <nav class="menu__nav">

        <menu class="menu__categoria">

            <li class="item item__diseno"><a href="/tienda/diseño"> Diseño </a></li>
            <li class="item item__arte"><a href="/tienda/arte"> Arte </a></li>
            <li class="item item__papeleria"><a href="/tienda/papeleria"> Papelería </a></li>
            <li class="item item__escritura"><a href="/tienda/escritura"> Escritura </a></li>
            <li class="item item__arquitectura"><a href="/tienda/arquitectura"> Arquitectura </a></li>

        </menu>

        <button class="btn"><a href="/tienda">Ver todo</a></button>

    </nav>

</header>