<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Homemade+Apple" rel="stylesheet">

    <!--icono-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">


    <link rel="stylesheet" href="/styles/carrito.css">
    <title>Carrito de Compras</title>
</head>

<body>
    <header class="ppal">
        <section class="menu">
            <img src="/img/logo.png" class="menu__logo">
            <nav class="menu__nav" id="nav">
                <div class="menu-categoria">
                    <i class="fas fa-ellipsis-h menu-categoria__icono"></i>
                    <a class="menu-categoria__texto">Categoría</a>
                </div>
                <div class="menu-sesion">
                    <a class="menu-sesion__texto">Iniciar sesión</a>
                </div>
            </nav>
        </section>
    </header>

    <section class="encabezado">
        <h2 class="encabezado__titulo">Carrito de compras</h2>
        <p class="encabezado__continuar"><a href="/tienda">Continuar compras</a></p>
    </section>

    <section class="carrito">
        <div class="carrito__productos">

            <h3 class="carrito__titulo">Carrito de Compras</h3>
            <div class="lista__carrito">

            </div>
            <!--concatenar esto al inner html del js
            <div class="producto__contenedor">
                <img class="producto__img" src="IMAGEN" alt="">
                <div class="producto__contenido">
                    <h3 class="producto__nombre">NOMBRE</h3>
                    <h3 class="producto__tipo">TIPO</h3>
                    <p class="producto__precio">PRECIO</p>
                    <input type="hidden" class="item__id" value="{{id}}">
                    <div>
                        <input class="producto__cantidad" type="number" min="1" max="100" value="1"/>
                    </div>
                </div>

                <div class="producto__x">
                    <a class="producto__x-item"><i class="far fa-times-circle fa-2x "></i></a>
                </div>
            </div>-->
        </div>

        <div class="carrito__resumen">

            <h3 class="carrito__resumen-titulo">Resumen de tu Pedido</h3>
            <p class="carrito__resumen-subtotal">Subtotal</p>
            <p class="carrito__resumen-envio">Envio</p>
            <p class="carrito__resumen-total">Total</p>

            <hr>

            <div class="pago-sin">


                <div class="pago-sin__info">
                    <label for="">Nombre</label>
                    <input class="pago-sin__info-nombre" name="nombre" type="text" placeholder="Nombre y Apellidos">

                    <label for="">Cedula</label>
                    <input class="pago-sin__info-cc" name="cedula" type="text" placeholder="Cédula">

                    <label for="">Dirección</label>
                    <input class="pago-sin__info-dir" name="direccion" type="text" placeholder="Dirección">

                    <label for="">Medio de Pago</label>
                    <select name="medioPago" class="pago-sin__info-medio" onchange="actualizarMedio()">
                        <option class="info-medio" value="Efectivo">Efectivo</option>
                        <option class="info-medio" value="Credito">Tarjeta Credito</option>
                        <option class="info-medio" value="Debito">Tarjeta Débito</option>
                    </select>
                </div>

                <button class="pago-sin__btn">Confirmar y realizar pago</button>

            </div>

            <!--<div class="pago-con">

                <form action="/login" method="POST">
                    <div class="pago-con__info">
                        <label for="">Correo</label>
                        <input name="correo" type="email" placeholder="correo@ejemplo.com">

                        <label for="">Contraseña</label>
                        <input name="contrasena" type="password" placeholder="contraseña">
                    </div>

                    <button class="pago-con__btn">Iniciar y realizar pago</button>
                </form>

            </div>-->

        </div>

    </section>

    <footer class="pie">
        <section class="pie-a">
            <div>
                <img src="/img/logo_b.png" class="pie__logo">
            </div>

            <div class="pie-redes">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </section>

        <hr class="pie-linea">

        <p class="pie-contacto">Contáctenos</p>
    </footer>


    <script src="/scripts/carrito.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</body>

</html>