<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Homemade+Apple" rel="stylesheet">

    <!--icono-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/carrito.css">

    <title>Carrito de Compras | ARTS</title>
</head>

<body>

    <section class="encabezado">
        <h2 class="encabezado__titulo">Carrito de compras</h2>
        <p class="encabezado__continuar"><a class="encabezado__a" href="/tienda">Continuar compras</a></p>
    </section>

    <section class="carrito">
        <div class="carrito__productos">

            <h3 class="carrito__titulo">Productos</h3>
            <div class="lista__carrito">

            </div>
            <!--concatenar esto al inner html del js
            <div class="producto__contenedor">
                <img class="producto__img" src="IMAGEN" alt="">
                <div class="producto__contenido">
                    <h3 class="producto__nombre">NOMBRE</h3>
                    <h3 class="producto__tipo">TIPO</h3>
                    <p class="producto__precio">PRECIO</p>
                    <input type="hidden" class="item__id" value="{{id}}">
                    <div>
                        <input class="producto__cantidad" type="number" min="1" max="100" value="1"/>
                    </div>
                </div>

                <div class="producto__x">
                    <a class="producto__x-item"><i class="far fa-times-circle fa-2x "></i></a>
                </div>
            </div>-->
        </div>

        <div class="carrito__resumen">

            <h3 class="carrito__resumen-titulo">Resumen de tu Pedido</h3>
            <p class="carrito__resumen-subtotal">Subtotal <a class="carrito-resumen__subtotal-valor">5966</a></p>
            <p class="carrito__resumen-envio">Envio <a class="carrito-resumen__envio-valor">8000</a></p>
            <p class="carrito__resumen-total">Total <a class="carrito-resumen__total-valor">752</a></p>

            <hr class="carrito__resumen-hr">

            <div class="pago-sin">

                <div class="pago-sin__info">
                    <label for="">Nombre</label>
                    <input class="pago-sin__info-nombre" name="nombre" type="text" placeholder="Nombre y Apellidos">
                    <label class="campo-invisible campo__nombre">*Este campo es obligatorio</label>

                    <label for="">Cedula</label>
                    <input class="pago-sin__info-cc" name="cedula" type="text" placeholder="Cédula">
                    <label class="campo-invisible campo__cc">*Este campo es obligatorio</label>

                    <label for="">Dirección</label>
                    <input class="pago-sin__info-dir" name="direccion" type="text" placeholder="Dirección">
                    <label class="campo-invisible campo__dir">*Este campo es obligatorio</label>

                    <label for="">Medio de Pago</label>
                    <select name="medioPago" class="pago-sin__info-medio" onchange="actualizarMedio()">
                        <option class="info-medio" value="Efectivo">Efectivo</option>
                        <option class="info-medio" value="Credito">Tarjeta Credito</option>
                        <option class="info-medio" value="Debito">Tarjeta Débito</option>
                    </select>
                </div>

                <button class="pago-sin__btn pago-sin__btn1" onclick="registrar()">Confirmar y realizar pago</button>

            </div>
        </div>

    </section>

    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-contenido">
            <span class="cerrar">X</span>
            <div class="modal-contenido__info">
            </div>
        </div>
    </div>

     <div id="myModal2" class="modal2">
        <div class="modal-contenido2">
            <span class="cerrar2">X</span>
            <div class="modal-contenido__info2" style="background-image: url(https://www.cruzblanca.cl/cruzblanca/site/artic/20161206/imag/foto_0000001720161206143530.png)">
                <h3>¡LO ATRAPASTE!</h3>
            </div>
        </div>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script src="/scripts/carrito.js"></script>
</body>



</html>