<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Productos vista normi</title>
</head>

<body>
    <ul class="menu__list">
        <li class="menu__item"><a href="/tienda/promociones">Promociones</a></li>
        <li class="menu__item"><a href="/tienda/nuevo">Nuevo</a></li>
        <li class="menu__item"><a href="/tienda/destacado">Desctacado</a></li>
        <li class="menu__item"><a href="/tienda">Ver todo</a></li>
    </ul>
</body>

</html>