$color-orange: #ee8d1f;
$color-light-orange: #fff6ed;
$color-blue: #00a7bd;

body{
    margin: 0;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
}

.menu{
    display: flex;
    height: 68px;
    flex-basis: 68px;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
    position: absolute;
    // background: rgba(255, 255, 255, 0.8);
    //z-index: 10;
    
    &__logo{
        width: 30%;
        height: 60%;
        margin: 0;
        padding: .7em;
        margin-left: 2em;      
    }
    
    &-categoria {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba($color: black, $alpha: 0.3);
        padding: 0.8em;
        position: absolute;
        left: 210%;
        top: -30%;
        
        &__icono {
            
        }
        
        &__texto {
            font-size: 15px;
        }
    }
    
    &-sesion {
        position: absolute;
        left: 240%;
        top: -11%; 
        
        &__texto {
            font: black;
        }
    }
    
}

.encabezado{
    width: 90%;
    margin: auto;
    
    background: #00a7bd;
    
    &__titulo{
        text-align: center;
    }
    
    &__continuar{
        text-align: end;
    }
}

.carrito{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    
    &__productos{
        width: 70%;
    }
    
    &__resumen{
        width: 30%;
        border: solid 1px rgba(0, 0, 0, 0.2);
        padding: 1.5em;
        
        &-titulo{
            
        }
        
        &-subtotal{
            
        }
        
        &-envio{
            
        }
        
        &-total{
            
        }
    }
}


.producto{
    
    &__contenedor{
        width: 90%;
        //border: solid 1px rgba(0, 0, 0, 0.2);
        padding: 1.5em;
        display: flex;
        background: #00a7bd;
    }
    
    &__img{
        background: #ee8d1f;
        width: 200px;
        height: 200px;
        margin-right: 5%;
    }
    
    &__contenido{
        width: 60%;
        
        background: #ee8d1f;
    }
    
    &__nombre{
        font-size: 20px;
        padding: 0.5em 0 0.5em 0;
        color: rebeccapurple;
        background: #00a7bd;
    }
    
    &__tipo{
        font-size: 12px;
        margin: 0;
        padding: 0.1em;
        
        color: pink;
        background: #00a7bd;
    }
    
    &__precio{
        font-size: 15px;
        color: red;
    }    
}



.pago-sin{
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    //align-items: center;
    margin-top: 5%;
    background: #fcfcfc;
    -webkit-box-shadow: 9px 9px 10px -3px rgba(0,0,0,0.2);
    -moz-box-shadow: 9px 9px 10px -3px rgba(0,0,0,0.2);
    box-shadow: 9px 9px 10px -3px rgba(0,0,0,0.2);
    
    &__info{
        padding: 1em;
        width: 80%;
        //background: #fff6ed;
        display: flex;
        flex-direction: column;
    }
    
    &__btn{
        width: 60%;
    }
}

label{
    padding: 0.5em;
}

.pago-con{
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    //align-items: center;
    margin-top: 10%;
    background: #fcfcfc;
    -webkit-box-shadow: 9px 9px 10px -3px rgba(0,0,0,0.2);
    -moz-box-shadow: 9px 9px 10px -3px rgba(0,0,0,0.2);
    box-shadow: 9px 9px 10px -3px rgba(0,0,0,0.2);
    
    &__info{
        padding: 1em;
        width: 80%;
        //background: #fff6ed;
        display: flex;
        flex-direction: column;
    }
    
    &__btn{
        width: 60%;
    }
}



.pie{
    display: flex;
    height: 100px;
    flex-basis: 68px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column;
    //width: 100%;
    //height: 20vh;
    margin-top: 5%;
    background: black;
    
    &-a{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #00a7bd;
        
        flex-grow: 0;
        flex-shrink: 0;
    }
    
    &__logo{
        width: 30%;
        height: 60%;
        margin: 0;
        padding: 0.7em;
        margin-left: 40%; 
    }
    
    &-redes{
        display: flex;
        flex-direction: row;
    }
    
    &__red-icono{
        color: rebeccapurple;
    }
    
    
    &-linea{
        width: 90%;
        background: white;
    }
    
    &-contacto{
        color: red;
        margin-left: 5%;
        padding: 1em;
    }  
}

