$color-orange: #ee8d1f;
$color-light-orange: #f4dfd0;
$color-orange-ppal: #fae7d7;
$color-light-orange: #fff6ed;
$color-blue: #d3dbca;
$color-rose: #ff8e8e;
$color-letras_arts: #dfc8ba;

.menu{
    display: flex;
    height: 68px;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
    position: absolute;
    z-index: 16;
    
    &__logo{
        width: 30%;
        height: 70%;
        margin: 0;
        padding: .7em;
        margin-left: 2em;      
    }
    
    &__nav{
        position: fixed;
        height: 100%;
        display: flex;
        justify-content: center;
        z-index: 14;
        background: white;
        right: 0;
    }
    
    &__categoria {
        display: flex; 
        justify-content: center;
        align-items: center;
        position: absolute;
        font-size: 30px;
        font-weight: bold;
        top: 40%;
        z-index: 15;
        list-style: none;
        // right: 13%;
        right: 0;
        
        
        &__texto {
            font-size: 15px;
        }
    }   
}

.item{
    text-decoration: none;
    padding: 1.5em;
    opacity: 0;
    //background: #ff8e8e;
    
    & a{
        color: inherit;
        text-decoration: none;
    }
    
    &:hover{
        text-decoration: underline;
    }
}

.dropbtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background: #dfc8ba;
    margin-left: 1%;
}

//Dropdown del boton en hover & focus
.dropbtn:hover, .dropbtn:focus {
    background: $color-letras_arts;
}

//El container <div> - needed to position the dropdown content
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    top: 70px;
    left: 2px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: $color-letras_arts;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    color: white;
    background: $color-letras_arts;
    
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display:block;
}

@media (max-width: 360px){
    .body{
        font-size: 9px;
    }
    
    .menu{
        background: white;
        
        &__logo{
            height: 45%;
            margin-left: 0.5em;
        }
        
    }
    
    .dropbtn {
        
        margin-left: 189%;
    }
    
}