$color-orange: #d78c2f;
$color-light-orange: #f4dfd0;
$color-orange-ppal: #fae7d7;
$color-light-orange: #fff6ed;
$color-blue: #d3dbca;
$color-rose: #ff8e8e;
$color-letras_arts: #dfc8ba;
$color-font: #888; 
$tam-titulo: 35px;
$tam-font: 18px;
$tam-peque: 13px;

body{
    margin: 0;
    font-family: 'Comfortaa', cursive;
    font-size: $tam-font;
    color: $color-font;
}

.carrito{
    width: 10vh;
    height: 15vh;
    background: $color-rose;
    position: fixed;
    margin-top: 350px;
    right: 0%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &:hover{
        cursor: pointer;
    }
    
    &__items{
        color: white;
        text-decoration: none;
        text-align: center;
    }
}

.vista-detallada{
    width: 80%;
    height: 90vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    &__img{
        width: 40%;
        padding: 2em;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    &__info{
        width: 60%;
    }
}

.producto-detallado{
    
    &__nombre{
        color: $color-blue;
        font-size: $tam-titulo;
        margin: 0.5em 0 0.5em 0;
    }
    
    &__label{
        &-p{
            color: $color-orange;
            font-size: $tam-peque;
            margin-top: 0.5em;
        }
        
        &-d{
            color: $color-orange;
            font-size: $tam-peque;
            margin: 0;
        }
    }
    
    &__precio{
        color: $color-rose;
        margin-top: 0.5em;
        font-size: 20px;
    }
    
    &__desc{
        margin-top: 0.5em;
    }
}

.acciones{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em 0 1em 0;
    
    &-cantidad{
        display: flex;
        align-items: center;
        
        &__btn{
            text-align: center;
            vertical-align: middle;
            width: 25px;
            height: 20px;
            background: white;
            border: solid 1px $color-letras_arts;
            color: $color-letras_arts;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            
            &:hover{
                background: $color-letras_arts; 
                border: solid 1px $color-letras_arts;
                cursor: pointer; 
                color: white;
            }
        }
        
        &__num{
            color: $color-font;
            font-weight: bolder;
            width: 60px;
            height: 20px;
            font-size: 15px;
            vertical-align: middle;
            border: solid 1px $color-letras_arts;
            text-align: center;
        }
        
    }
    
    &__btn{
        width: 100%;
        margin: 0;
        margin-top: 1.5em;
        padding: 0.5em;
        border-radius: 12em;
        text-align: center;
        font-size: 13px;
        font-weight: bold;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        cursor: pointer;
    }
    
    &__btn1{
        width: 50%;
        margin-left: 10%;
        background-color: white; 
        color: $color-letras_arts; 
        border: 0.1em solid  $color-letras_arts;
        
        &:hover {
            background-color: $color-letras_arts;
            color: white;
        }
    }
}

@media (max-width: 360px){
    $tam-titulo-responsive: 30px;
    $tam-font-responsive: 13px;

    body{
        font-size: $tam-font-responsivet;
    }

    .carrito{
        //z-index: 20;
    }

    .vista-detallada{
        width: 100%;
        
        &__img{
            width: 30%;
            padding: 2em;
        }
        
        &__info{
            width: 70%;
        }
    }

    .producto-detallado{
    
        &__nombre{
            font-size: $tam-titulo-responsive;
        }
        
        &__label{
            &-p{
                font-size: 10px;
            }
            
            &-d{
                font-size: 10px;
            }
        }
        
        &__precio{
            font-size: $tam-font-responsive;
        }
        
        &__desc{
            margin-top: 0.5em;
        }
    }
    
}
