$color-orange: #ee8d1f;
$color-light-orange: #fff6ed;
$color-blue: #00a7bd;

body{
    margin: 0;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
}

.menu{
    display: flex;
    height: 68px;
    flex-basis: 68px;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
    position: absolute;
    // background: rgba(255, 255, 255, 0.8);
    z-index: 10;
    
    &__logo{
        width: 30%;
        height: 60%;
        margin: 0;
        padding: .7em;
        margin-left: 2em;      
    }
    
    &-categoria {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba($color: black, $alpha: 0.3);
        padding: 0.8em;
        position: absolute;
        left: 210%;
        top: 0%;
        
        &__icono {
            
        }
        
        &__texto {
            font-size: 15px;
        }
    }
    
    &-sesion {
        position: absolute;
        left: 240%;
        top: 15%; 
        
        &__texto {
            font: black;
        }
    }
    
}

.carrito{
    width: 10vh;
    height: 15vh;
    background: black;
    position: fixed;
    margin-top: 350px;
    right: 0%;
    z-index: 2;
    
    &__items{
        color: white;
        text-align: center;
    }
}

.banner{
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
    &__arts{
        color: white;
        margin: 0;
        letter-spacing: 10px;
        text-align: left;
        
        &-a{
            position: relative;
            top: 300px;
            left: -50px;
        }
        
        &-b{
            position: relative;
            top: -257px;
            left: 5px;
        }
    }
    
    &__orange{
        width: 60%;
        height: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $color-orange;
        margin-left: 25%;
        z-index: 6;
        position: relative;
        top: -20%;
    }
    
    &__blue{
        width: 60%;
        height: 75%;
        margin-left: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $color-blue;
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 8;
        position: relative;
        top: 8%;
    }
    
    &__img{
        width: 100%;
        height: 80%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.info{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $color-light-orange;
    z-index: -1;
    position: relative;
    top: -300px;
    
    &__title {
        background: rebeccapurple;
        margin: 0;
        padding: 0.2em;
        font-family: 'Homemade Apple', cursive;
        color: white;
    }
    
    &__desc{
        background: #d78c2f;
        margin: 0;
        padding: 0.4em;
        text-align: center;
        color: white;
    }     
}

.productos{
    width: 80%;
    height: 150px;
    margin: auto;
    //background: lightblue;
    
    &__title{
        font-family: 'Homemade Apple', cursive;
        text-align: center;
        color: black;
    }
}

.filtro{
    display: flex;
    height: 50px;
    align-items: center;
    font-size: 15px;
    position: absolute;
    background: #d78c2f;
    
    &__list{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    &__item{
        float: left;
        padding: 0 1.5em 0 1.5em;
    }
    
    &__first{
        padding: 0;
    }
    
    &__item a{
        display: block;
        color: black;
        text-align: center;
        padding: 0.5em;
        text-decoration: none;
    }
    
    &__item a:hover {
        color: #d78c2f;
    }
}

.contenedor{
    width: 80%;
    height: 100%;
    margin: auto;
    
    &__lista{ 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: -0.5em;
        padding: 0;
        //background: #fff6ed;
        
        &-item{
            width: 250px;
            height: 250px;
            list-style-type: none;
            border: solid #00a7bd;
            margin: 0.4em;
        }
    }
}

.item{
    &__img{
        padding: 1.5em;
    }
    
    &__nombre{
        text-align: center;
        font-size: 15px;
        padding: 0.2em;
        background: #00a7bd;
    }
    
    &__precio{
        text-align: center;
        font-size: 14px;
        background: #d78c2f;
    }
    
    //Borrar esto luguito------
    &__c{
        font-size: 9px;
    }
}

// &:hover{
    //box-shadow: 8px 8px 10px 0px rgba(230,230,230,1);
    // cursor: pointer;
    // }
    
    .dropbtn {
        background-color: #3498DB;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
    
    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
        background-color: #2980B9;
    }
    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd}
    
    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {display:block;}