$color-orange: #ee8d1f;
$color-light-orange: #fff6ed;
$color-blue: #00a7bd;

body{
    margin: 0;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
}

.menu{
    display: flex;
    height: 68px;
    flex-basis: 68px;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    
    &__logo{
        width: 10%;
        margin: 0;
        padding: .7em;
        margin-left: 2em;        
    }
    
    &__list{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    &__item{
        float: left;
        padding: 0 3em 0 3em;
    }
    
    &__item .icon{
        display: none;
    }
    
    &__item a{
        display: block;
        color: black;
        text-align: center;
        padding: 1.5em;
        text-decoration: none;
    }
    
    &__item a:hover {
        color:#018D72;
    }
}

.carrito{
    width: 10vh;
    height: 15vh;
    background: black;
    position: fixed;
    margin-top: 350px;
    right: 0%;
    
    
    &__items{
        color: white;
        text-align: center;
    }
}

.banner{
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
    &__arts{
        color: white;
        margin: 0;
        letter-spacing: 10px;
        text-align: left;
    }
    
    &__orange{
        width: 60%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $color-orange;
        margin-left: 25%;
    }
    
    &__blue{
        width: 60%;
        height: 90%;
        margin-left: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $color-blue;
        text-align: center;
        //background-image: url('../img/touch.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.info{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $color-light-orange;
    
    &__title {
        background: rebeccapurple;
        margin: 0;
        padding: 0.2em;
        font-family: 'Homemade Apple', cursive;
        color: white;
    }
    
    &__desc{
        background: #d78c2f;
        margin: 0;
        padding: 0.4em;
        text-align: center;
        color: white;
    }     
}

.productos{
    width: 80%;
    height: 150px;
    margin: auto;
    background: lightblue;
    
    &__title{
        font-family: 'Homemade Apple', cursive;
        text-align: center;
        color: black;
    }
}

.filtro{
    display: flex;
    height: 50px;
    align-items: center;
    font-size: 15px;
    position: absolute;
    background: #d78c2f;
    
    &__list{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    &__item{
        float: left;
        padding: 0 1.5em 0 1.5em;
    }

    &__first{
        padding: 0;
    }
    
    &__item a{
        display: block;
        color: black;
        text-align: center;
        padding: 0.5em;
        text-decoration: none;
    }
    
    &__item a:hover {
        color: #d78c2f;
    }
}

.contenedor{
    display: flex;
    flex-basis: 100%;
    margin: auto;
    width: 80%;
    height: 80vh;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    background: #00a7bd;
}

.contenido{
    display: flex;
    flex-basis: 20%;
    width: 20%;
    height: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .3s ease-in-out;
    flex-grow: 1;

    &__largo{
        flex-grow: 3;
    }
    
    &:hover{
        //box-shadow: 8px 8px 10px 0px rgba(230,230,230,1);
        cursor: pointer;
    }
}


